@font-face {
  font-family: 'misiconos';
  src: url("../fonts/icomoon.eot?1ttuo3");
  src: url("../fonts/icomoon.eot?#iefix1ttuo3") format('embedded-opentype'), url("../fonts/icomoon.woff?1ttuo3") format('woff'), url("../fonts/icomoon.ttf?1ttuo3") format('truetype'), url("../fonts/icomoon.svg?1ttuo3#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #e8e8e8;
  color: #444;
  font-family: Arial;
  font-size: 16px;
}
footer {
  background: #dd4f24;
  color: #ddd;
  text-align: center;
  padding: 15px 0;
}
footer h3 {
  font-size: 16px;
}
footer h3 strong {
  display: block;
}
footer .jappsku:before,
footer .jappsku:after {
  content: " - ";
}
header {
  background: #444;
  box-shadow: 0px 5px 0px rgba(0,0,0,0.2);
  color: #fff;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  z-index: 1;
}
header .logo {
  border-right: 1px solid #22bce0;
  float: left;
  width: 60px;
}
header .logo img {
  width: 52px;
}
header .titular {
  padding: 0 80px 0 70px;
}
header .titular .filtro {
  color: #22bce0;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}
header .titular .publicar {
  background: #dd4f24;
  color: #fff;
  font-size: 14px;
  font-style: italic;
  padding: 3px 6px 3px 6px;
  position: absolute;
  text-decoration: none;
  text-shadow: 2px 2px #444;
  right: 80px;
}
header .titular .titulo {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .usuario {
  position: absolute;
  right: 0;
  top: 0;
}
header .usuario .avatar {
  margin: 10px 25px;
}
header .usuario .avatar img {
  border-radius: 50%;
  position: relative;
  width: 50px;
  z-index: 2;
}
header .usuario .flechita {
  background: #dd4f24;
  color: #fff;
  display: block;
  margin: 5px 10px;
  padding: 3px;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  top: 20px;
  width: 50%;
}
nav {
  background: #22bce0;
  border-left: 15px solid #fff;
  position: relative;
}
nav:before {
  border-bottom: 20px solid transparent;
  border-left: 7px solid #fff;
  border-top: 20px solid transparent;
  content: "";
  position: absolute;
  top: 0;
}
nav .menu {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
nav .menu::-webkit-scrollbar {
  display: none;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 0 0.5em;
  padding: 0 0.2em;
}
.posts {
  padding: 0.5em;
}
.posts .post {
  background: #fff;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  margin-bottom: 0.5em;
}
.posts .post .acciones {
  border-top: 3px solid #22bce0;
  padding: 0.5em;
  overflow: hidden;
}
.posts .post .acciones .datos {
  float: right;
}
.posts .post .acciones .datos .comentarios {
  background: #999;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  padding: 0.3em;
  text-decoration: none;
}
.posts .post .acciones .datos .estrellita {
  text-decoration: none;
}
.posts .post .acciones .datos .estrellita:before {
  color: #fabe15;
  content: "\e9d9";
  font-family: "misiconos";
  font-size: 24px;
}
.posts .post .acciones .votos {
  color: #999;
  float: left;
}
.posts .post .acciones .votos .down,
.posts .post .acciones .votos .up {
  text-decoration: none;
  font-family: "misiconos";
  font-size: 24px;
}
.posts .post .acciones .votos .down:before {
  color: #f00;
  content: "\e601";
}
.posts .post .acciones .votos .up:before {
  color: #008000;
  content: "\e600";
}
.posts .post .descripcion .detalles {
  height: 160px;
  margin-left: 130px;
}
.posts .post .descripcion .detalles .autor {
  color: #999;
  margin: 0.5em 0 1em 0;
}
.posts .post .descripcion .detalles .autor a {
  color: #dd4f24;
  text-decoration: none;
}
.posts .post .descripcion .detalles .fecha {
  color: #999;
  float: right;
  margin: 0 1em 0 0;
}
.posts .post .descripcion .detalles .tag {
  background: #22bce0;
  border-radius: 0.5em;
  color: #fff;
  padding: 0.2em 0.5em;
  text-decoration: none;
}
.posts .post .descripcion .detalles .titulo {
  color: #444;
  font-style: italic;
  font-size: 18px;
  margin: 0;
  padding: 0.5em 0.5em 0 0;
}
.posts .post .descripcion .imagen {
  float: left;
  margin: 0;
}
.posts .post .descripcion .imagen img {
  height: 160px;
  vertical-align: top;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .posts .post {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .posts .post:nth-child(odd) {
    margin-right: 2%;
  }
}
